@font-face {
    font-family: TT Lakes;
    src: url('TTLakes-Regular.ttf');
}

.body {
    margin: 0;
    font-family: "TT Lakes", serif;
}

.top-nav {
    height: 88px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.top-nav__div_left {
    display: flex;
    align-items: center;
}

.top-nav__div_right {
    display: flex;
    align-items: center;
}

.top-nav__btn {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 50%;
    border: 0;
    background: #FF3E79 no-repeat center;
}

.top-nav__btn-menu {
    background-image: url("../Images/burger.svg");
}

.top-nav__btn-call {
    order: -3;
    background-image: url("../Images/call.svg");
}

.top-nav__btn-chat {
    order: -2;
    background-image: url("../Images/chat.svg");
}

.top-nav__btn-profile {
    order: -1;
    background-image: url("../Images/profile.svg");
}

.top-nav__btn-repair {
    background-image: url("../Images/repair.svg");
}

.top-nav__btn-status {
    background-image: url("../Images/checkstatus.svg");
}

.top-nav__btn:first-child {
    margin-left: 16px;
}

.top-nav__btn:last-child {
    margin-right: 16px;
}

.top-nav__logo {
    order: 1;
    width: 96px;
    margin-right: 16px;
}

.top-nav__div_right::before {
    order: 0;
    content: url("../Images/divider.svg");
    height: 32px;
    margin-right: 16px;
}

@media screen and (max-width: 767px) {
    .top-nav__btn_hidden {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .top-nav__btn_hidden {
        display: flex;
    }

    .top-nav__div_left::after {
        order: 0;
        content: url("../Images/divider.svg");
        height: 32px;
        margin-right: 16px;
    }
}

.main-page {
    height: 510px;
    background-color: #F8F8F8;
}

.main-section {
    display: flex;
    flex-direction: column;
}

.main-section__title {
    min-height: 40px;
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.main-section__title::before {
    content: url("../Images/highlight.svg");
}

.main-section__h2 {
    margin: 0;
    margin-left: 16px;
    font-size: 28px;
}

.main-section__slide {
    margin-top: 24px;
    margin-left: 20px;
    min-height: 40px;
    display: flex;
    align-items: center;
    overflow: auto;
}

.main-section__btn {
    white-space: nowrap;
    margin: 0;
    margin-right: 10px;
    padding: 8px 12px;
    text-decoration: none;
    color: #7E7E82;
}

.main-section__btn_active {
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 10px;
}

.main-section__description {
    display: flex;
    height: 320px;
    flex-wrap: wrap;
    justify-content: center;
}

.main-section__text {
    margin: 24px;
    font-size: 14px;
    max-height: 90px;
    overflow: hidden;
    white-space: pre-wrap;
}

.main-section__readmore {
    height: 24px;
    display: flex;
    align-items: center;
}

.main-section__readmore::before {
    content: url("../Images/expand.svg");
    margin-left: 16px;
    margin-right: 8px;
}

.main-section__h3 {
    margin: 0;
    font-weight: bold;
}

.main-section__img {
    max-height: 170px;
    margin: 24px;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .main-section__description {
        flex-wrap: nowrap;
        justify-content: stretch;
    }

    .main-section__text {
        max-height: 150px;
    }

    .main-section__img {
        max-width: 50%;
        max-height: 300px;
    }
}